/* FONT + BODY */
body {
  text-align: center;
  font-family: "Jersey 10", sans-serif;
}

body {
  background-image: url("img/pixelback.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* TITLE */
h1 {
  font-size: 50px;
  padding: 2vw;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* CANVAS */
#screen {
  display: block;
  margin: 20px auto;
  border: 3px solid black;
  background: #f5f5f5;
  display: flex;
}

/* BUTTONS */
#mainBtns {
  background-image: none;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 10vw;
}

button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button img {
  width: 8vw;
  height: 8vw;
}

/* CURRENCY */
#currency {
  font-size: 45px;
  position: fixed;
  top: 20px;
  right: 20px;
}

/* POPUPS */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: auto;

  background: white;
  border: 2px solid black;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10; /* stays on top but not fullscreen */
}

.popup-box {
  padding: 20px;
  text-align: center;
}
/* HIDDEN CLASS */
.hidden {
  display: none;
}